.color-change{
  animation: color-change 2.5s infinite;
}

@keyframes color-change {
  0% { color: #39C0ED; }
  20% { color: #FFA900; }
  40% { color: #1266F1; }
  60% { color: #B23CFD; }
  80% { color: #F93154; }
  100% { color: #39C0ED; }
}