.color-change{
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: #39C0ED; }
  25% { color: #FFA900; }
  50% { color: #1266F1; }
  75% { color: #B23CFD; }
  100% { color: #F93154; }
}