<section>
    <div class="container">
        <div class="row d-flex justify-content-between border-bottom">
            <div class="col-3 col-xs-12 col-md-3 col-lg-3 mb-4">
                <app-search-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias( $event )"></app-search-input>
            </div>
            <div class="col-3 col-xs-12 col-md-2 col-lg-1 text-right mb-4 offset">
                <p class="m-0">Home /</p>
            </div>
            <div class="col-12" *ngIf="hayError">
                <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                    <i class="fas fa-lg fa-exclamation-triangle" style="color: #951d32"></i>
                    <div>
                        Nothing was found with the term: {{ termino }}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <app-multi-tabla [multis]="multise"></app-multi-tabla>
    </div>
</section>